.box1{
    width:200px;
    margin:0 auto;
}
footer{
    background-color: skyblue;
    height:100px;
    border-radius: 6px;
}
footer>a.inFooter1{
    margin-left:5px;
    text-decoration:none;
    font-size:8px;
    color:white;

}
footer>a:hover{
    color:lightgray;
}
footer>a:active{
    color:gray;
}