.box1{
    width:200px;
    margin:0 auto;
    margin-bottom:10px;
}
footer{
    background-color: skyblue;
    height:100px;
    border-radius: 6px;
}
footer>a.inFooter1{
    margin-left:5px;
    text-decoration:none;
    font-size:8px;
    color:white;

}
footer>a:hover{
    color:lightgray;
}
footer>a:active{
    color:gray;
}
div.bg{
    opacity: 50%;
    background:url(./1.jpg) no-repeat  0px 0px;

    background-size:cover;
    
    background-attachment: fixed;
}
div.bg>div{
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    padding:5px;
    opacity:100%
}
