.box1{
    width:300px;
    height:185px;
    background-color: aquamarine;
    border: 10px groove steelblue;
    padding: 9px;
}
.box1::before{
    content:"你试试能不能选中我？我可以防复制啊！（Ctrl+P）除外啊~";
    font-size:20px;
}
